page-login {
    
    ion-content {
        background-image: url('../assets/imgs/lockscreen.jpg');
        background-position: 50%;
        text-align: center;
    }

    .logInBtn {
        margin: 1.5em 0;
    }

    .signUpBtn {
        position: absolute;
        bottom: 1em;
        left: 5%;
        width: 90%;
    }

    .card-md {
        background-color: transparentize($color: #ffffff, $amount: 0.3);
    }
    
    .card-ios {
        background-color: transparentize($color: #ffffff, $amount: 0.3);
    }

    .item-md {
        background: transparent;
        border: none;
    }
    .item-ios {
        background: transparent;
        border: none;
    }
}
